
@{
    ViewData["Title"] = "Product";
}

<h1>Product</h1>

@model Phone;

<p>
    <img src="~/@Model.Picture" alt="Alternate Text" class="d-block w-100 img-fluid" />
    <div class="active text-dark">
        <div> Название: @Model.Name</div>
        <div>Описание: @Model.Description</div>
        <div>Стоимость: @Model.Price</div>
        <a asp-controller="Cart" asp-action="Buy" asp-route-id="@Model.Id">Добавить в корзину</a>
    </div>
</p>